.news-container {
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  
  .big-news {
    width: 50%;
    height: 400px;
    margin-left: 80px;
    background-image: url('../../pictures/shiori1.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }
  
  .big-news:hover {
    transform: scale(1.05);
  }
  
  .small-news-container {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-right: 90px;
  }

  .small-news-1 {
    height: 180px;
    background-image: url('../../pictures/shiori2.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }

  .small-news-2 {
    height: 180px;
    background-image: url('../../pictures/shiori3.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }

  .small-news-3 {
    height: 180px;
    background-image: url('../../pictures/shiori4.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }

  .small-news-4 {
    height: 180px;
    background-image: url('../../pictures/shiori5.jpg');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }
  
  .small-news-1:hover {
    transform: scale(1.05);
  }

  .small-news-2:hover {
    transform: scale(1.05);
  }

  .small-news-3:hover {
    transform: scale(1.05);
  }

  .small-news-4:hover {
    transform: scale(1.05);
  }

  .history-container {
    margin-bottom: 10px; /* History板块和黄线之间的距离 */
    display: flex;
  }
  
  .history-line {
    border-top: 2px solid #b4b719; /* 黄线样式 */
    margin-bottom: 20px; /* 黄线和History内容之间的距离 */
  }
  
  .history-content {
    margin-bottom: 50px; /* History内容和下一个板块之间的距离 */
    display: flex;
  }

  .rank-container {
    margin-bottom: 10px; /* History板块和黄线之间的距离 */
    display: flex;
  }
  
  .rank-line {
    border-top: 2px solid #b4b719; /* 黄线样式 */
    margin-bottom: 20px; /* 黄线和History内容之间的距离 */
  }
  
  .rank-content {
    margin-bottom: 50px; /* History内容和下一个板块之间的距离 */
    display: flex;
  }

  .gamble-container {
    margin-bottom: 10px; /* History板块和黄线之间的距离 */
    display: flex;
  }
  
  .gamble-line {
    border-top: 2px solid #b4b719; /* 黄线样式 */
    margin-bottom: 20px; /* 黄线和History内容之间的距离 */
  }
  
  .gamble-content {
    margin-bottom: 50px; /* History内容和下一个板块之间的距离 */
    display: flex;
  }

  .mark-container {
    margin-bottom: 10px; /* History板块和黄线之间的距离 */
    display: flex;
  }
  
  .mark-line {
    border-top: 2px solid #b4b719; /* 黄线样式 */
    margin-bottom: 20px; /* 黄线和History内容之间的距离 */
  }
  
  .mark-content {
    margin-bottom: 50px; /* History内容和下一个板块之间的距离 */
    display: flex;
  }

  .custom-font {
    font-family: 'Righteous', cursive;
    color: rgb(145, 245, 245);
    font-size: 30px;
  }

  .home-button {
    margin: 0 10px;
    padding: 15px 20px 10px 22px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(145, 245, 245);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-repeat: no-repeat;
    background-position: 20px 5px;
    background-size: 40px;
}

.rank-button {
  background-image: url('../../icons/boat_transparent.png');
  padding-top: 50px;
  padding-right: 10px;
  color: yellow;
}

.rank-button:hover {
  transform: translateY(-5px);
}

.gamble-button {
  background-image: url('../../icons/submarine_transparent.png');
  padding-top: 50px;
  padding-right: 10px;
  color: yellow;
}

.mark-button:hover {
  transform: translateY(-5px);
}

.mark-button {
  background-image: url('../../icons/ship_transparent.png');
  padding-top: 50px;
  padding-right: 10px;
  color: yellow;
}

.history-button {
  background-image: url('../../icons/warship_transparent.png');
  padding-top: 50px;
  padding-right: 10px;
  color: yellow;
}

.history-button:hover {
  transform: translateY(-5px);
}

.gamble-button:hover {
  transform: translateY(-5px);
}

.back-to-top {
  margin-right: 370px;
  color: #1890ff;
}

.back-to-top:hover {
  color: rgb(159, 159, 24);
}

